<style>
    .active-purple-3 input[type=text] {
        border: 1px solid #ce93d8;
        box-shadow: 0 0 0 1px #ce93d8;
    }
</style>
<form asp-action="searchuser" asp-controller="enduser">
    <div class="active-pink-4 mb-4">
        <input name="username" class="form-control" type="text" placeholder="search any user..." aria-label="Search">
    </div>
</form>
